body{

font-family: 'Geom', sans-serif;
margin:0;
background:white;
color:#36454f;

}

header{

background:#005f6a;
color:white;
display:flex;
justify-content:space-between;
padding:20px;

}

nav a{

color:white;
margin-left:20px;
text-decoration:none;

}

.hero{

background:#eeeeee;
padding:100px 20px;
text-align:center;

}

.hero h2{

font-size:40px;

}

button{

background:#4fb0c6;
border:none;
padding:12px 20px;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#d87cac;

}

.cards{

display:flex;
gap:20px;
padding:40px;

}

.card{

background:white;
padding:20px;
border-radius:6px;
box-shadow:0 0 8px rgba(0,0,0,0.1);

}

section{

padding:60px 20px;

}

footer{

background:#005f6a;
color:white;
text-align:center;
padding:20px;

}